---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&location=northampton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 05:12:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"northampton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Northampton","adminArea5Type":"City","adminArea4":"Hampshire
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282032694","unknownInput":"","type":"s","latLng":{"lat":42.31952,"lng":-72.629756},"displayLatLng":{"lat":42.31952,"lng":-72.629756},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=42.31952,-72.629756|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-280620150"}]}]}'
  recorded_at: Tue, 28 Sep 2021 05:12:54 GMT
recorded_with: VCR 6.0.0
