---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&location=northampton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 14 Nov 2021 21:10:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"northampton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Northampton","adminArea5Type":"City","adminArea4":"Hampshire
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282032694","unknownInput":"","type":"s","latLng":{"lat":42.31952,"lng":-72.629756},"displayLatLng":{"lat":42.31952,"lng":-72.629756},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=42.31952,-72.629756|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1034428307"}]}]}'
  recorded_at: Sun, 14 Nov 2021 21:10:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely,alerts&lat=42.31952&lon=-72.629756&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3195,"lon":-72.6298,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636924251,"sunrise":1636890023,"sunset":1636925390,"temp":46.74,"feels_like":43.93,"pressure":1010,"humidity":61,"dew_point":34.03,"uvi":0.09,"clouds":90,"visibility":10000,"wind_speed":5.75,"wind_deg":210,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1636923600,"temp":46.74,"feels_like":46.74,"pressure":1010,"humidity":61,"dew_point":34.03,"uvi":0.09,"clouds":90,"visibility":10000,"wind_speed":2.84,"wind_deg":203,"wind_gust":7.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1636927200,"temp":45.37,"feels_like":43.81,"pressure":1010,"humidity":65,"dew_point":34.32,"uvi":0,"clouds":89,"visibility":10000,"wind_speed":3.67,"wind_deg":210,"wind_gust":8.05,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1636930800,"temp":43.68,"feels_like":41.95,"pressure":1010,"humidity":70,"dew_point":34.56,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":3.58,"wind_deg":200,"wind_gust":5.21,"weather":[{"id":804,"ma[...]
