---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&location=northampton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 06:06:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"northampton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Northampton","adminArea5Type":"City","adminArea4":"Hampshire
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282032694","unknownInput":"","type":"s","latLng":{"lat":42.31952,"lng":-72.629756},"displayLatLng":{"lat":42.31952,"lng":-72.629756},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=42.31952,-72.629756|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-527814153"}]}]}'
  recorded_at: Wed, 17 Nov 2021 06:06:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely&lat=42.31952&lon=-72.629756&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3195,"lon":-72.6298,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637129175,"sunrise":1637149447,"sunset":1637184435,"temp":33.12,"feels_like":33.12,"pressure":1017,"humidity":82,"dew_point":28.67,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1637128800,"temp":33.12,"feels_like":33.12,"pressure":1017,"humidity":82,"dew_point":28.67,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.98,"wind_deg":254,"wind_gust":4.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1637132400,"temp":32.79,"feels_like":32.79,"pressure":1019,"humidity":84,"dew_point":28.9,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":2.42,"wind_deg":244,"wind_gust":3.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637136000,"temp":32.43,"feels_like":32.43,"pressure":1021,"humidity":86,"dew_point":29.1,"uvi":0,"clouds":63,"visibility":10000,"wind_speed":1.9,"wind_deg":239,"wind_gust":2.98,"weather":[{"id":803,"main":"[...]
