---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&location=northampton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 05:12:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"northampton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Northampton","adminArea5Type":"City","adminArea4":"Hampshire
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282032694","unknownInput":"","type":"s","latLng":{"lat":42.31952,"lng":-72.629756},"displayLatLng":{"lat":42.31952,"lng":-72.629756},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=42.31952,-72.629756|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1414718156"}]}]}'
  recorded_at: Tue, 28 Sep 2021 05:12:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely,alerts&lat=42.31952&lon=-72.629756&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3195,"lon":-72.6298,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632805974,"sunrise":1632825868,"sunset":1632868656,"temp":63.32,"feels_like":63.1,"pressure":1000,"humidity":80,"dew_point":57.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1632805200,"temp":63.32,"feels_like":63.1,"pressure":1000,"humidity":80,"dew_point":57.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.26,"wind_deg":206,"wind_gust":17.6,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.4,"rain":{"1h":0.12}},{"dt":1632808800,"temp":62.56,"feels_like":62.37,"pressure":1002,"humidity":82,"dew_point":57,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":4.61,"wind_deg":194,"wind_gust":14.92,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.16},{"dt":1632812400,"temp":61.74,"feels_like":61.56,"pressure":1004,"humidity":84,"dew_point":56.86,"uvi":0,"clouds":38,"visibility":10000,"wind_speed":4.79,"wind_deg":195,"wind_gust":15.57,"weather":[{"id":[...]
