---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely,alerts&lat=42.31952&lon=-72.629756&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3195,"lon":-72.6298,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632762425,"sunrise":1632739404,"sunset":1632782362,"temp":67.86,"feels_like":67.73,"pressure":1003,"humidity":72,"dew_point":58.51,"uvi":4.59,"clouds":75,"visibility":10000,"wind_speed":1.01,"wind_deg":235,"wind_gust":3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1632762000,"temp":67.86,"feels_like":67.73,"pressure":1003,"humidity":72,"dew_point":58.51,"uvi":4.59,"clouds":75,"visibility":10000,"wind_speed":6.06,"wind_deg":250,"wind_gust":14.45,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.13},{"dt":1632765600,"temp":68.32,"feels_like":68.14,"pressure":1005,"humidity":70,"dew_point":58.17,"uvi":4.09,"clouds":77,"visibility":10000,"wind_speed":3.78,"wind_deg":228,"wind_gust":11.5,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.26},{"dt":1632769200,"temp":70.43,"feels_like":70.14,"pressure":1006,"humidity":63,"dew_point":57.25,"uvi":2.9,"clouds":63,"visibility":10000,"wind_speed":10.02,"wind_deg":224,"wind_gust":18.48,"weather":[{"[...]
