---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely&lat=42.31952&lon=-72.629756&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3195,"lon":-72.6298,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636940827,"sunrise":1636890023,"sunset":1636925390,"temp":43.03,"feels_like":39.52,"pressure":1009,"humidity":70,"dew_point":33.94,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":5.75,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1636938000,"temp":42.19,"feels_like":40.32,"pressure":1009,"humidity":73,"dew_point":34.18,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":3.49,"wind_deg":200,"wind_gust":8.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1636941600,"temp":43.03,"feels_like":41.38,"pressure":1009,"humidity":70,"dew_point":33.94,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.4,"wind_deg":183,"wind_gust":11.95,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1636945200,"temp":42.42,"feels_like":40.24,"pressure":1009,"humidity":72,"dew_point":34.05,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":3.85,"wind_deg":201,"wind_gust":12.88,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1636948800,"temp":41.81,"feels_like":37.62,"pressure":1009,"humidity":74,"dew_point":34.14,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":6.49,"wind_deg":201,"wind_gust":17.96,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.21,"rain":{"1h":0.12}},{"dt":1636952400,"temp":39.87,"feels_like":35.35,"pressure":1010,"humidity":85,"dew_point":35.73,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":6.4,"wind_deg":203,"wind_gust":22.35,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.66,"rain":{"1h":0.58}},{"dt":1636956000,"temp":39,"feels_like":35.11,"pressure":1009,"humidity":92,"dew_point":36.88,"uvi":0,"clouds":98,"visibility":694,"wind_speed":5.23,"wind_deg":183,"wind_gust":19.6,"wea[...]
