---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-1vHPnOO7DF2c3UjFKHcOEb2h2ns"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake pastries for you and your neighbor","type":"cooking","participants":1,"price":0.4,"link":"","key":"8125168","accessibility":0.3}'
  recorded_at: Mon, 15 Nov 2021 18:14:14 GMT
recorded_with: VCR 6.0.0
