---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-y0vMs0btdPOaCTSiMz81zppZe2Q"
    body:
      encoding: UTF-8
      string: '{"activity":"Play a video game","type":"recreational","participants":1,"price":0,"link":"","key":"5534113","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:12:18 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-xrgxGUW0K2Q9nfcslQ2WkUZjzfw"
    body:
      encoding: UTF-8
      string: '{"activity":"Patronize a local independent restaurant","type":"recreational","participants":1,"price":0.2,"link":"","key":"5319204","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 18:12:21 GMT
recorded_with: VCR 6.0.0
