---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-7gOcVCpmHBCcKTAttCAYibE05mo"
    body:
      encoding: UTF-8
      string: '{"activity":"Uninstall unused apps from your devices","type":"busywork","participants":1,"price":0,"link":"","key":"2850593","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:12:24 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-qfCFgL1BFYQr1P+w8OdM0LUEcA8"
    body:
      encoding: UTF-8
      string: '{"activity":"Organize your music collection","type":"busywork","participants":1,"price":0,"link":"","key":"3151646","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:12:27 GMT
recorded_with: VCR 6.0.0
