---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 10:51:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1946444284"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Q1I0YYYPMAMuilkuMR3j7gZVe3p1yUQU&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1701491009"}]}]}'
  recorded_at: Wed, 17 Nov 2021 10:51:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=45b13e1605345944317ad0521e51c968&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637146305,"sunrise":1637156837,"sunset":1637192577,"temp":31.21,"feels_like":28.42,"pressure":1017,"humidity":51,"dew_point":16.97,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":3,"wind_deg":36,"wind_gust":11.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1637143200,"temp":32.65,"feels_like":24.78,"pressure":1017,"humidity":50,"dew_point":17.85,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":9.51,"wind_deg":57,"wind_gust":10.71,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.04},{"dt":1637146800,"temp":31.21,"feels_like":23.31,"pressure":1017,"humidity":51,"dew_point":16.97,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":8.97,"wind_deg":84,"wind_gust":7.78,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1637150400,"temp":31.96,"feels_like":24.15,"pressure":1018,"humidity":49,"dew_point":16.86,"uvi":0,"clouds":22,"visibility":10000,"wind_speed":9.13,"wind_deg":78,"wind_gust":7.72,"weather":[{"id":801,"main":[...]
